.examples {
  @apply flex flex-col gap-y-3;
}

.number {
  @apply font-bold text-lab-link;
}

.label {
  @apply text-xl font-bold text-lab-link;
}

.icon {
  @apply inline-block h-3.5 w-3.5 text-lab-link;
  fill: none;
  stroke: currentColor;
  stroke-width: 1.8;
  stroke-linecap: round;
  stroke-linejoin: round;
}
